<div class="container">
	<h1>DJ SMS</h1>
	<%= form_for(:session, url: sessions_path, html: {class: "login"}) do |f| %>

		<%= f.label :email, "EMAIL" %>
		<%= f.text_field :email %>

		<%= f.label :password, "PASSWORD" %>
		<%= f.password_field :password %>
		
		<%= f.submit "Sign In", class: "submit" %>
	<% end %>

	<%= link_to "Sign Up", new_user_path %>
</div>