<h1><%= @playlist.title %></h1>

<div class="player">
	<div class="controls">
		<div class="buttons">
			<%= image_tag("previous.png", class: "player-buttons") %>
			<%= image_tag("play.png", class: "player-buttons play-visible") %>
			<%= image_tag("pause.png", class: "player-buttons pause-visible") %>
			<%= image_tag("next.png", class: "player-buttons") %>
		</div>
	</div>
</div>
<% if @correct_user %>
	<%= link_to "Delete Playlist", @playlist, method: "delete", data: { confirm: "Are you sure you want to delete playlist, #{@playlist.title}?" } %>
<% end %>
