<div class="playlist-container">
	<h1><%= @playlist.title %></h1>
	<%= content_tag :div, class: "playlist-data", data: {playlistrdioid: @playlist.rdio_id, playlistid: @playlist.id} do %>
	<% end %>

	<div class="search">
		<%= form_for @song do |f| %>
			<%= f.text_field :query, placeholder: "(Song Name - Artist)" %>
			<%= f.hidden_field :key %>
			<%= f.hidden_field :name %>
			<%= f.hidden_field :artist %>
			<%= f.hidden_field :icon %>
			<%= f.submit "Search", id: "submit-search" %>
		<% end %>

		<%= content_tag :div, class: "search-results" do %>
		<% end %>
	</div>

	<div class="player">
		<ul id="song-list">
		<% @playlist.songs.each do |song| %>
			<% if "#{song.name} - #{song.artist}".length <= 40 %>
					<li class="playlist-song <%= song.key %>"><img src="<%= song.icon %>" class="song-icon"><h3 class="song-info"><%= song.name %> - <%= song.artist %></h3></li>
			<% else %>
				<li class="playlist-song <%= song.key %>"><img src="<%= song.icon %>" class="song-icon"><marquee class="song-marquee"><%= song.name %> - <%= song.artist %></marquee></li>
			<% end %>
		<% end %>
		</ul>
		<div class="controls">
			<marquee id="playing-marquee-left"></marquee>
			<marquee id="playing-marquee-right"></marquee>
			<div class="buttons">
				<%= image_tag("previous.png", class: "player-buttons previous") %>
				<%= image_tag("play.png", class: "player-buttons play-visible") %>
				<%= image_tag("pause.png", class: "player-buttons pause-visible") %>
				<%= image_tag("next.png", class: "player-buttons next") %>
			</div>
		</div>
	</div>
	<% if @correct_user %>
		<%= link_to "Delete Playlist", @playlist, method: "delete", data: { confirm: "Are you sure you want to delete playlist, #{@playlist.title}?" }, class: "playlist-link", id: "delete-playlist" %>
		<%= link_to "Edit Playlist", edit_playlist_path(@playlist), class: "playlist-link", id: "edit-playlist" %>
	<% end %>
</div>