<!DOCTYPE html>
<html>
<head>
  <title>Djsms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//www.rdio.com/api/api.js?client_id=t4VYzcepJTx7MQczgQ0pYw"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
<%= yield %>

</body>
</html>
